@model WebBanHangOnline.Models.OrderViewModel
@{
    ViewBag.Title = "Thanh Toán";
}

<style>
    .error{
        color:red
    }
</style>

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">

<style>
    .product_section_container {
        margin-bottom: 50px;
    }

    .breadcrumbs {
        margin-bottom: 0px;
    }
</style>
<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li class="active"><a href="index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Thanh toán</a></li>
                </ul>
            </div>

            <!-- Sidebar -->
            <!-- Main Content -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-center">Thanh toán</h1>
                    <p>Bạn hãy kiểm tra lại thông tin đơn hàng!</p>
                </div>
                

            </div>
            <hr/>
            @if (ViewBag.CheckCart != null)
            {
                <div class="row">
                    <div id="show_success"></div>
                    <div class="col-md-8">
                        @Html.Action("Partial_CheckOut", "ShoppingCart")
                    </div>
                    <div class="col-md-4">

                        @Html.Action("Partial_Item_ThanhToan", "ShoppingCart")

                    </div>

                </div>
            }
            else
            {
                <div>
                    Bạn chưa có sản phẩm nào. Vui lòng quay lại trang <a href="/san-pham">sản phẩm</a> để mua!
                </div>
            }
            

        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/assets/js/categories_custom.js"></script>
    <script>
        function OnFail(rs) {
            if (!rs.Success) {
                $('#show_success').html("Bạn đã mua hàng thất bại! Xin vui lòng thử lại <br>")
            }
        }
        $(document).ready(function () {
            $('#myForm').validate({
                rules: {
                    'CustomerName': {
                        required: true
                    },
                    'Phone': {
                        required: true
                    },
                    'Address': {
                        required: true
                    },
                    'Email': {
                        required: true,
                        email: true
                    },
                },
                messages: {
                    'CustomerName': 'Bạn không được để trống trường này',
                    'Phone': 'Bạn không được để trống trường này',
                    'Address': 'Bạn không được để trống trường này',
                    'Email': 'Email chưa hợp lệ',
                }
            });
        });
    </script>
}



